<li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect (click)="updateModal.show()">会員情報更新</a>
</li>


<!--====================
    Modals 加入
==================== -->

<div mdbModal #updateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="updateModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">会員情報更新</h4>
      </div>

      <div class="modal-body">
        <div>
          <ul>
            <li>
              <label for="username">ID</label> <br>
              <input type="text" class="textField" [(ngModel)]="loginUser.id" [readonly]="true">
              <div *ngIf="!isIdCorrect" class="validation">{{id_err}}</div>
            </li>
            <li>
              <label for="userpassword">PW</label> <br>
              <input type="password" class="textField" [(ngModel)]="loginUser.pw">
              <div *ngIf="!isPwCorrect" class="validation">{{pw_err}}</div>
            </li>
            <li>
              <label for="userEmail">Email</label> <br>
              <input type="email" class="textField" [(ngModel)]="loginUser.email">
              <div *ngIf="!isEmailCorrect" class="validation">{{email_err}}</div>
            </li>
            <li>
              <label for="userJob">ユーザーのタイプ</label> <br>
              <input type="radio" name="userType" value="normalUser" [(ngModel)]="loginUser.userType">一般ユーザー<br>
              <input type="radio" name="userType" value="author" [(ngModel)]="loginUser.userType">漫画家<br>
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="updateModal.hide();" mdbWavesEffect>キャンセル</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="whenBtnClicked();">完了</button>
      </div>
    </div>
  </div>
</div>
