<li class="nav-item active">
    <a class="nav-link waves-light" mdbWavesEffect (click)="loginModal.show()">ログイン<span class="sr-only">(current)</span></a>
</li>


<!--====================
    Modals ログイン
==================== -->
<div mdbModal #loginModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100">ログイン</h4>
      </div>

      <div class="modal-body">
        <div>
          <ul>
            <li>
              <label for="username">ID</label> <br>
              <input type="text" [(ngModel)]="login_userId">
              <div *ngIf="!isIdCorrect" class="validation">{{id_err}}</div>
            </li>
            <li>
              <label for="userpassword">PW</label> <br>
              <input type="password" [(ngModel)]="login_userPw">
              <div *ngIf="!isPwCorrect" class="validation">{{pw_err}}</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="loginModal.hide()" mdbWavesEffect>キャンセル</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="onSubmit()">ログイン</button>
      </div>
    </div>
  </div>
</div>
